<p class="font-bold">Hello world!</p>
<p>Number of presses: <%= @counter %></p>
<button
  class="h-8 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800"
  phx-click="increment"
>
  Press me!
</button>
