@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  @apply bg-zinc-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-500;
  border-radius: 4px;
}
